body{
    background-color:lavenderblush;
    align-items: center;
    text-align: center;
    

}
.brand-name{
    font-size: 40px;
    font-style: italic;
    margin-top: 1%;
}

.container{
    max-width: 80%;
    background-color: beige;
    padding:0.2rem;
    margin:3% 10% 0% 10%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }
  
  .nav-left {
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .nav-center a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .nav-right img {
    width: 20px;
    margin-left: 15px;
    vertical-align: middle;
  }
  

.heading{
    display: flex;
    gap: 20px;
}
.new-collection{
    text-align: center;
    font-size: 40px;
    padding: 1%;
    font-style: italic;
}

.section-content{
    display:flex;
}
.section-content img{
    width: 50%;
}
.section-content .new-collection {
    width: 50%;
}
.sales-stripe {
    background-color: pink; 
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  


.btn{
    width:150px;
    height: 25px;
    padding:5px 10px;
    background: pink;
    color:black;
    border:solid black;
    border-radius: 3cap;
    cursor: pointer;
    text-decoration: none;
}
.products{
    background-color: white;
    padding-top: 5rem;
    
}
.photo img{
    width: 99%;
    height: 295px;
    
}
.photogrid{
    display: grid;
    
    grid-template-columns: 25% 25% 25% 25% ;
    
    
}
.about-grid{
    display: grid;
    padding-bottom: 20px;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(243, 236, 236);
    
}
.about-grid img{
    width: 80%;
}

footer {
    background-color: #f3b8c4;
    padding: 1%;


}
#about{
    margin:0 10%;
    
}
@media(max-width:835px){
    body{
        max-width: 735px;
    }
    .container{
        display: block;
    }
    .section-content .new-collection{
        font-size:100%;
        padding:2%;
    }

}

